{#
_______________________________________________________________________________

                        PAGE D'ACCUEIL DU PORTFOLIO
_______________________________________________________________________________
#}

{% extends "base.html" %}

{% block title %}Accueil{% endblock %}


{% block content %}


<!-- Texte d'accueil : -->
<!-- ------------------ -->
<div class="text-center py-1">
    <h1 class="h2">Yann Mouchou</h1>

    <img    src="{{ SITEURL }}/images/portrait_exemple_flat_style.png"
            alt="Portrait d'un étudiant BTS SIO"
            class="shadow"
            style="width: 120px;"
    >

    <p class="lead-4 mt-3">
        Voici mon portefolio, il a pour but de vous présenter mon parcours et mes compétences acquises, notamment dans ma formation du BTS SIO. Vous retriuverez mes projets et activités réalisées durant ma formation, ainsi que ma veillle technologique.
    </p>
</div>

<!-- Affichage des cards de navigation vers PARCOURS, REALISATION, VEILLE -->
 <div class="row text-center g-4">
{% for nom, url, icone, sousNav, description, couleur in MAINITEMS %}
    <div class="col-md-4">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <i class="bi bi-{{ icone }} display-5 mb-3 text-{{ couleur }}"></i>
                <h5 class="card-title">{{ nom }}</h5>
                <p class="card-text">{{ description }}</p>
                <a href="{{ SITEURL }}{{ url }}" class="btn btn-outline-{{ couleur }}">Voir</a>
            </div>
        </div>
    </div>    
{% endfor %}
</div>


<div class="row mt-5 ms-5 text-start text-dark">
    <ul>
        <li>
            <a href="https://github.com/ljules" target="_blank" title="Ma page GitHub" class="text-dark">
                <i class="fa-brands fa-square-github fs-3"></i> Mon GitHub
            </a>
        </li>
        <li>
            <a href="{{ SITEURL }}/downloads/monCV.pdf" target="_blanck" title="Consulter mon CV" class="text-dark">
                <i class="fa fa-file-pdf fs-3"></i> Mon CV
            </a>
        </li>
    </ul>
</div>

{% endblock %}