
/*
______________________________________________

	DEFINITIONS DES CONSTANTES DE STYLES 
______________________________________________
*/

:root {

    /*
    Style sur les polices :
    -----------------------
    */
    /* --typo-generale: 'Fira Sans', 'Open Sans'; */

    /* Polices titres & sous-titre : */
    /* --typo-titres:  'Kanit', 'Exo 2'; */


    /*
    Style sur les couleurs :
    ------------------------
    */

    /* --navbar-brand-couleur: rgb(255, 166, 0); */
    --nav-link: rgb(137, 200, 241);
    --nav-link-active: rgb(83, 81, 214);


    /* Redéfinition des couleurs de Bootstrap :*/
    /* --bs-warning: rgb(255, 166,  0);
    --bs-warning-rgb: 255, 166, 0;

    --bs-warning-bg-subtle: rgb(250, 240, 100);
    --bs-warning-border-subtle: rgb(250, 240, 100); */

}



/*
________________________________________________

	DEFINITION DES PROPRIETES DES CLASSES CSS
________________________________________________
*/

/*
----------------------
PROPRIETES GENERALES :
----------------------
*/

/*
Définition du fond :
--------------------
*/
body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.95));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*contain*/ 
    background-attachment: fixed;
  }


  /*
PROPRIETES SUR LE HEADER & NAVBAR :
-----------------------------------
*/

/*
Définition du fond du header :
------------------------------
*/

.background-header {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.95)), url('../backgrounds/header_background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*contain*/ 
  }

/*
Couleur des éléments de navigations :
-------------------------------------
*/

.navbar {
    font-size: 0.8em;
}


.nav-link-icon {
    font-size: 1.5em;
}


.nav-link {
    color: var(--nav-link);
}


.nav-link:hover, .dropdown-item:hover {
    color: var(--bs-warning);
}


.nav-link:focus {
    color: var(--nav-link);
}


.navbar-nav .nav-item .active {
    color: var(--nav-link-active);
  }


.dropdown-item {
    font-weight: bold;
    color: black;
}


.dropdown-item:focus {
    background-color: black;
    color: var(--nav-link-active);;
}


.navbar-nav .nav-item .dropdown-menu .active {
    background-color: black;
    color: var(--nav-link-active);
}


.navbar-toggler {
    background-color: rgba(255, 255, 255, 1);
}